@if(currentUserId == undefined){
  <span>Please log in to see your to-do lists!</span>
}
@else {
  <div id="lists">
  @for(list of lists; track list){
    <div class="list-table">
      <span><mat-icon (click)="toggleEditing(list.id)">edit</mat-icon><h3 (click)="toggleList(list.id)">{{list.name}}</h3></span>
      @if(editingListId === list.id){
        <mat-icon (click)="toggleEditing(list.id)">cancel</mat-icon>
        <form (ngSubmit)="editList(list.id, list.name)">
          <mat-form-field>
            <input
              matInput
              type="text"
              [(ngModel)]="list.name"
              name="list-{{ list.id }}"
            />
          </mat-form-field>
          <button type="submit">Update</button>
        </form>
      }
      @if(isListOpen(list.id)){
        <table>
          <tr>
            <th>Task</th>
            <th>Due Date</th>
            <th>Completed?</th>
          </tr>
        @for(item of list.items; track item){
          <tr>
            <td>{{item.name}}</td>
            <td>{{item.dueDate | date: 'short'}}</td>
            <td>
              <!-- {{item.completed}}</td> -->
              <mat-checkbox [checked]="item.completed" (change)="onItemCheckChange(item, $event.checked)"></mat-checkbox>
            </td>
          </tr>        
        }@empty {
          <span>No items found</span>
        }
        </table>
      }
    </div>
  } @empty {
    <span>No lists found</span>
  }
</div>
}