@if(currentUserId == undefined){
  <span>Please log in to see your to-do lists!</span>
}
@else {
  @for(list of lists; track list){
    <div>
      <h3 (click)="toggleList(list.id)">{{list.name}}</h3>
      @if(isListOpen(list.id)){
        <table>
          <tr>
            <th>Task</th>
            <th>Due Date</th>
            <th>Completed?</th>
          </tr>
        @for(item of list.items; track item){
          <tr>
            <td>{{item.name}}</td>
            <td>{{item.dueDate | date: 'short'}}</td>
            <td>
              <!-- {{item.completed}}</td> -->
              <mat-checkbox [checked]="item.completed" (change)="onItemCheckChange(item, $event.checked)"></mat-checkbox>
            </td>
          </tr>        
        }@empty {
          <span>No items found</span>
        }
        </table>
      }
    </div>
  } @empty {
    <span>No lists found</span>
  }
}